/**
* @name FV
* @author FeoreV#3377
* @description FV
* @version 2.0.0
* @authorId 489785940546551831
* @updateUrl https://raw.githubusercontent.com/FeoreV/FVCord/main/FV.theme.css
*/

@import url("https://codedotspectra.github.io/themes/themes-cores/nocturnal.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url("https://codedotspectra.github.io/themes/core/hljs.css");
@import url("https://discordstyles.github.io/RadialStatus/base.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');
  /* Server Rings */
@import url("https://discordstyles.github.io/SoftX/ServerRings.css");
  /* Crash log */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/wellThisIsAwkwardSoTryThis.css);
  /* Skeet */
@import url('https://discord-custom-gradient-names.github.io/gradient/dist/main.min.css');

:root {
  /* Nocturnal */
  --backgroundColor01: #1e2731;
  --backgroundColor02: #12171d;
  --mainColor: #2275c9;
  --gradientColor01: #00F260;
  --gradientColor02: #0575E6;
  --backgroundCode: #1e2731;
  --backgroundName: rgba(0, 0, 0, .2);
  /* Radial Status */
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-visible: block;
  --rs-phone-color: var(--rs-online-color);
  /* Better-Badges */
  --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
  --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
  --badges-everywhere-size: 15px; /*default = 15px*/
  /* Custom */
  --server-unread-colour: 255, 255, 255;
  --server-hover-colour: 255, 255, 255;
  --server-selected-colour: var(--accent, 0, 231, 169);
  --server-spacing: 16px;
  --server-glow-intensity: 1;
}
/* Context Menu */
.menu-1QACrS, .colorDefault-CDqZdO { 
    border-radius: 15px; 
}
/* User popout *
.banner-1YaD3N.popoutBanner-3cqRD9 {
  -webkit-mask: linear-gradient(180deg, #1e2731, transparent);
          mask: linear-gradient(180deg, #1e2731, transparent);
}
/* links border */
.embedFull-1HGV2S {
    border: 1px solid var(--background-modifier-accent);
}
//////////////////////////////////////////////////////////////////////////////

/* connected accounts */
.connectedAccountIcon-2vls0t ~ div::before {
content: "";
top: 0; bottom: 0; left: 0; right: 0;
border: 1px solid var(--border-color);
position: absolute;
display: block;
pointer-events: none;
border-radius: 15px; 
}
.connectedAccount-1xKpli {
overflow: hidden;
position: relative;
border-radius: 15px;
}
/* Spotify */
.connectedAccountIcon-2vls0t[src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"] ~ div::before {--border-color: #1ED760;}
/* Github */
.connectedAccountIcon-2vls0t[src="/assets/6a853b4c87fce386cbfef4a2efbacb09.svg"] ~ div::before {--border-color: #fff;}
/* Twitch */
.connectedAccountIcon-2vls0t[src="/assets/ca71e0b8818221eea1deebbaf8dc6518.svg"] ~ div::before {--border-color: #563194;}
/* Twitter */
.connectedAccountIcon-2vls0t[src="/assets/85cf2b49d2a185c98ec8e383ad5a05d6.svg"] ~ div::before {--border-color: #0099E4;}
/* XBOX */
.connectedAccountIcon-2vls0t[src="/assets/1fa6585cbb8c0fe21188e26d19fc6609.svg"] ~ div::before {--border-color: #5EC220;}
/* Reddit */
.connectedAccountIcon-2vls0t[src="/assets/f3224f560c8f5974355596a4f7e9ce19.svg"] ~ div::before {--border-color: #FF4500;}
/* Battle.net */
.connectedAccountIcon-2vls0t[src="/assets/37f15a06d062bdd0fc252d2b35d0b0bb.svg"] ~ div::before {--border-color: #0099E4;}
/* Steam */
.connectedAccountIcon-2vls0t[src="/assets/d897626dfa2016ea3ad0af935acb6070.svg"] ~ div::before {--border-color: #000000;}
/* YouTube */
.connectedAccountIcon-2vls0t[src="/assets/57ee9535485efae7eb923ed4893abb57.svg"] ~ div::before {--border-color: #D9252A;}
/* Facebook */
.connectedAccountIcon-2vls0t[src="/assets/32045743cb7670855ae726743c949e0c.svg"] ~ div::before {--border-color: #1877F2;}
/* LOL */
.connectedAccountIcon-2vls0t[src="/assets/94dc6f30a819026fa295d85f1f72b4ab.svg"] ~ div::before {--border-color: #CEA146;}



/* вот от сюда */
:root
.message-2CShn3[data-author-id="489785940546551831"] .username-h_Y3Us, 
[data-user-id="489785940546551831"] .subtext-2HDqJ7,
[data-user-id="489785940546551831"] .customStatus-1UAQAK,
[data-user-id="489785940546551831"] .hovered-20u3oh,
[data-user-id="489785940546551831"] .title-338goq,
[data-user-id="489785940546551831"] .discrimBase-1VOoau,
[data-user-id="489785940546551831"] .discriminator-1bqsd3,
[data-user-id="489785940546551831"] .username-1g6Iq1,
[data-user-id="489785940546551831"] .username-3JLfHz,
[data-user-id="489785940546551831"] .heading-lg-medium-3gUJeM,
[data-user-id="489785940546551831"] .heading-lg-medium-3gUJeM,
[data-user-id="489785940546551831"] .desaturateUserColors-1O-G89{
 background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
 animation: gradient-border 4s linear infinite;
 background-size: 400% 100%;
 color: transparent !important;
-webkit-background-clip: text;
 position: relative;
 z-index: 1;
 }
@keyframes gradient-border {
 0%, 200% {
     background-position: 0 0;
 }
 99.999999999999999% {
     background-position: 130% 0;
 }
}
.channelIcon-3I2O7O {
   display: none;
}
   
.iconMention-3WxjBe::before {
   content: "#";
}
   
#app-mount .iconMention-3WxjBe {
   padding-left: 2px;
}
   
#app-mount .iconMention-3WxjBe {
   padding-left: 2px;
}
/*До сюда*/
/*Фара ахуела*/



/*slider*/
:root { --sidebar-initial-width: 240px; }
.sidebar-1tnWFu {
   resize: horizontal;
   width: var(--sidebar-initial-width);
}
.sidebar-1tnWFu .channel-1Shao0 { max-width: unset; }
.bannerImage-ubW8K- { width: 100%; }






//test sync
